.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 

  .register-form {
    width: 40%;
    margin: 0 auto;
    padding: 5%;
    border: 1px solid #ccc;
    box-shadow: 8px 2px 5px #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
      text-align: center;
    }
  
    .form-group {
      margin-bottom: 15px;
      width: 100%;

  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input[type="email"],
      input[type="password"],
      input[type="text"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
    }
  
    .error-message {
      color: red;
      margin-bottom: 10px;
    }
  
    .submit-btn {
      width: 30%;
      padding: 12px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: 1rem;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    .loginLink {
      color: #007bff;
      text-decoration: none;
    }
  }
}


@media (max-width: 900px) {
  #registerForm {
    width: 75%;
  }
}