.navbar {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 0.7rem;
  max-height: 80px;

  div:has(>ul) {
    margin: 0 auto;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  }

  .login {
    & button {
      background-color: #988DFF;
      color: white;
      border: none;
      padding: 8px 20px;
      border-radius: 5px;
      cursor: pointer;
      text-wrap: nowrap;
    }
  }

  .logo {
    display: flex;
    width: 100%;
    max-width: 150px;
  }

}