// Homepage.scss
.Loginpage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to full viewport height */
}

.logo-container {
    margin-bottom: 20px; /* Add some margin below the logo */
}

.logo-image {
    width: 200px; /* Adjust the width of the logo as needed */
    height: auto; /* Maintain aspect ratio */
}

.login-container {
    text-align: center;
}

.login-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff; /* Example button color (blue) */
    color: #ffffff; /* Button text color (white) */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}
