trigger:
  branches:
    include:
      - master

pool:
  name: selfhosted

steps:
- task: Docker@2
  displayName: 'Build Docker image'
  inputs:
    command: 'build'
    dockerfile: '$(Build.SourcesDirectory)/BackEnd/Dockerfile'
    tags: 'urlshortenerr.azurecr.io/urlshortenerr:$(Build.BuildId)'  # Specify the image name with registry, repository, and tag

- task: Docker@2
  displayName: 'Push Docker image'
  inputs:
    command: 'push'
    containerRegistry: 'myurlcontainer'  # Replace with your ACR service connection name
    repository: 'urlshortenerr.azurecr.io/urlshortenerr'  # Specify the repository to push to
    tags: '$(Build.BuildId)'  # Specify the tag for the pushed image
