trigger:
  branches:
    include:
      - master

pool:
  name: selfhosted

steps:
- task: Docker@2
  displayName: 'Build Docker image'
  inputs:
    command: 'build'
    dockerfile: '$(Build.SourcesDirectory)/BackEnd/Dockerfile'

- script: |
    docker images
  displayName: 'List Docker images'

- task: Docker@2
  displayName: 'Push Docker image'
  inputs:
    containerRegistry: 'myurlcontainer'  # Replace with your ACR service connection name
    repository: 'urlshortenerr.azurecr.io'  # Specify the repository to push to
    command: 'push'
    tags: 'latest'  # Specify the custom tag 'NEW' for the pushed image