trigger:
  branches:
    include:
      - master

pool:
  name: selfhosted

variables:
  dockerRegistryServiceConnection: 'myurlcontainer'  # Replace with your ACR service connection name
  imageRepository: 'urlshortenerr'  # Replace with your image repository name
  containerRegistry: 'urlshortenerr.azurecr.io'  # Replace with your ACR login server
  dockerfilePath: '$(Build.SourcesDirectory)/BackEnd/Dockerfile'
  tag: '$(Build.BuildId)'

steps:
- task: Docker@2
  displayName: 'Build Docker image'
  inputs:
    command: 'build'
    dockerfile: '$(dockerfilePath)'
    tags: '$(containerRegistry)/$(imageRepository):$(tag)'  # Specify the image name with registry and repository

- task: Docker@2
  displayName: 'Push Docker image'
  inputs:
    command: 'push'
    containerRegistry: '$(dockerRegistryServiceConnection)'
    repository: '$(containerRegistry)/$(imageRepository)'  # Specify the repository to push to
    tags: '$(tag)'  # Specify the tag for the pushed image
