trigger:
  branches:
    include:
      - master

pool:
  name: selfhosted

steps:
- task: Docker@2
  displayName: 'Build Docker image'
  inputs:
    command: 'build'
    dockerfile: '$(Build.SourcesDirectory)/BackEnd/Dockerfile'
    tags: 'NEW'  # Specify the custom tag 'NEW' for the image

- task: Docker@2
  displayName: 'Push Docker image'
  inputs:
    command: 'push'
    containerRegistry: 'myurlcontainer'  # Replace with your ACR service connection name
    repository: 'urlshortenerr.azurecr.io/urlshortenerr'  # Specify the repository to push to
    tags: 'NEW'  # Specify the custom tag 'NEW' for the pushed image
