version: '3.8'

services:
  backend:
    container_name: backend
    build:
      context: ./Backend/
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    depends_on:
      - postgres
    networks:
      - URL

  frontend:
    container_name: frontend
    build:
      context: ./FrontEnd/Frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    environment:
      REACT_APP_API_URL: http://backend:5000
    depends_on:
      - backend
    networks:
      - URL

  postgres:
    container_name: postgres
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    networks:
      - URL

networks:
  URL:
    external: true