.containerUrl {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;

    .inputUrl {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .button {
        padding: 10px 20px;
        margin: 10px;
        font-size: 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 123, 255, 0.2);
        transition: background-color 0.3s ease;
    }
}

.urlList-container {
    padding-top: 110px;
  
    h2 {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: bold;
    }
  
    // Table styles for larger screens
    .url-table {
      display: table;
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        padding: 12px;
        border: 1px solid #ccc;
        text-align: left;
      }
  
      th {
        background-color: #f2f2f2;
      }
  
      tbody tr:nth-child(even) {
        background-color: #f9f9f9;
      }
    }
  
    // Flexbox layout for smaller screens
    @media (max-width: 600px) {
      .url-table {
        display: flex;
        flex-direction: column;
  
        tr {
          display: flex;
          flex-direction: column;
          border: 1px solid #ccc;
          margin-bottom: 10px;
        }
  
        th, td {
          padding: 12px;
          border-bottom: 1px solid #ccc;
          text-align: left;
        }
  
        th {
          background-color: #f2f2f2;
        }
      }
    }
  }
  

