.container {
    max-width: 100%;
    overflow-x: auto;
    padding-top: 120px;

    h2 {
        font-weight: bolder;
        font-size: 22px;
        padding: 20px;
    }
    .table {
        width: 100%;
        border-collapse: collapse;

        th, td {
            padding: 8px;
            border: 1px solid #dddddd;
            text-align: left;
        }

        th {
        background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #dddddd;
        }

        button {
            padding: 5px 10px;
            background-color: #f44336;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            :hover {
                background-color: #d32f2f;
            }

        }
      }

        
 @media (max-width: 800px) {
    .table {
      display: flex;
      flex-direction: column;

      tr {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        margin-bottom: 10px;
      }

      th, td {
        padding: 12px;
        border-bottom: 1px solid #ccc;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }
    }
  }
}
  
  